// $skill-height: pem(20);

ul.skills {
  padding-bottom: 2em;
  @include span-columns(12 of 12);
}

// @for $i from 5 through 20 {
//   ul.skills li.percent_#{$i * 5}::before {
//     width: 5% * $i;
//   }
// }

ul.skills li {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  clear: left;
  padding: pem(20) 0 0.3em;
}
ul.skills li em {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: pem(20);
  background-color: $color-purple;
  color: $color-page-bg;
  color: transparent;
  background-image: url(../images/skills.png);
}
ul.skills li i {
  display: block;
  float: right;
  clear: none;
  color: transparent;
}
ul.skills li:hover i {
  color: $color-purple;
}
