ul.skills {
  padding-bottom: 2em;
  @include span-columns(12 of 12);
}

ul.skills li {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  clear: left;
  padding: pem(20) 0 0.3em;
}
ul.skills li em {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: pem(20);
  background-color: $color-purple;
  color: $color-page-bg;
  color: transparent;
  background-image: url(../images/skills.png);
  @include  transition(width 0.75s linear);
}
ul.skills li i {
  display: block;
  float: right;
  clear: none;
  color: transparent;
  padding-right:0.25em;
  // @include  transition(all 0.125s ease-in-out);
}
.no-touchevents ul.skills li:hover i {
  color: $color-purple;
  // @include  transition(all 0.25s ease-in-out);
}
