html {
  width: 100%;
  overflow: hidden;
}
header.site_header {
  height: $navbtn_height;
  width: 100%;
  z-index: 1000; // always on top !!!

  ul,
  li {
    display: block;
    float: left;
    clear: left;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.site-title {

    display: inline-block;
    text-align: center;
    vertical-align: bottom;

    float: left;
    clear: none;

    width: $main_logo_width;
    height: $navbtn_height;

  }
}

.page {
  padding-top: $navbtn_height;
}
div.outside {
  position: relative;
}
// mobile menu OFF:
nav.site-nav {
  position: absolute;

  right: 0;
  // top: $navbtn_height;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 6;

  @include transition(height 0.4s ease-in-out);

  & > ul {
    width: $main_nav_width;
    position: absolute;
    left: 100%;

    background: #FFF;
    width: 100%;
    // padding-top: $navbtn_height;
    @include transition(left 0.25s ease-in-out);

    li,
    li a {
      display: block;
      float: left;
      clear: left;
      width: 100%;
    }
    li a {
      padding: $main_gutter;
    }
    li a.title-link {
      // background: #FCF;
      padding-top: 0;
      padding-bottom: 0;
      line-height: $navbtn_height;
    }
  }
}

// mobile menu ON:
html.main_nav_on nav.site-nav {
  & > ul {
    left: $main_nav_margin;
    @include transition(left 0.25s ease-in-out);
  }
  // @include transition(height 0.25s ease-in-out);
}

span.mobile_shader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  @include transition(background-color 0.4s ease-in-out);

  html.main_nav_on & {
    background-color: rgba(0, 0, 0, 0.6);
    @include transition(background-color 0.4s ease-in-out);
  }
}

// classes callout
a.sign_up_now {
  display: none;
}
