header.masthead {

  display: block;
  float: left;
  clear: left;
  width: 100%;
  height: pem(220);

  a.site_title {
    position: absolute;
    top: pem(1);
    width: pem(120);
    height: pem(120);

    span.bg,
    span.logo {
      position: absolute;
      top: 0;
      left: 0;
      width: pem(120);
      height: pem(120);
      background-size: cover;
      background-repeat: no-repeat;
    }

    span.bg {
      background-image: url('../images/ak_logo_bg.svg');
      opacity: 1;
      @include transition();
      @include animate-linear-rotation(12s);
    }
    span.logo {
      background-image: url('../images/ak_logo.svg');
    }

  }

  a.site_title:hover {
    span.bg {
      opacity: 0;
    }
  }

}

@-moz-keyframes rotation { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotation { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotation { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




header.site_header {
  height: $navbtn_height;
  width: 100%;
  z-index: 1000; // always on top !!!

  ul,
  li {
    display: block;
    float: left;
    clear: left;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.site-title {

    display: inline-block;
    text-align: center;
    vertical-align: bottom;

    float: left;
    clear: none;

    width: $main_logo_width;
    height: $navbtn_height;

  }
}

.page {
  padding-top: $navbtn_height;
}
