
<div class="outer">
  <footer class="site-footer">

    <span class="left">
      <i class="fa fa-copyright" aria-hidden="true"></i> <span class="date_year"></span>{{ site.title }}
    </span>


    <span class="right">
    {% if site.github_username %}
      <span class="footer-icon">
        {% include icon-github.html username=site.github_username %}
      </span>
    {% endif %}

    {% if site.twitter_username %}
      <span class="footer-icon">
        {% include icon-twitter.html username=site.twitter_username %}
      </span>
    {% endif %}
    </span>

  </footer>
</div>
<script src="{{ site.url }}/js/bundle.js" type="text/javascript"></script>
