
body {
  font-family: 'not-sans-regular', sans-serif;
  color: darken($color-tan, 70%);
  font-size: 16px;
}
p {
  display: block;
  padding: 0 0 1.0em;
}
.post-content {
  line-height: 1.8em;
}

sub,
sup {
  font-size: 0.4em;
  baseline-shift: super;
  vertical-align: 0.75em
}
.italic {
  font-style: italic;
}
a {
  text-decoration: none;
}
a.link {
  text-decoration: underline;
}

// main navigation:
nav.mn div.block li.top > a {
  font-size: 18px;
  letter-spacing: -0.05em;
}

ul.skills {
  font-family: 'sans_light', helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1.8em;
  font-size: 1.5em;
  color: darken($color-purple, 7%);
}

footer.site-footer {
  // font-family: arial, helvetica, sans-serif;
}
