

body {
  font-family: 'not-sans-regular', sans-serif;
  color: $color-body-text;
  font-size: 16px;
}
p {
  display: block;
  padding: 0 0 1.0em;
}
.post-content {
  line-height: 1.8em;
}

sub,
sup {
  font-size: 0.4em;
  baseline-shift: super;
  vertical-align: 0.75em
}
.italic {
  font-style: italic;
}
a {
  color: $color-purple;
  text-decoration: none;
}
a.link {
  text-decoration: underline;
}

// main navigation:
nav.mn div.block li.top > a {
  font-size: 18px;
  letter-spacing: -0.05em;
}

ul.skills {
  font-family: 'sans_light', helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1.8em;
  font-size: 1.5em;
  color: darken($color-purple, 7%);
}

footer.site-footer {
  // font-family: arial, helvetica, sans-serif;
}

p a {
  // I 'borrowed this from pitchfork.com.
  // I dunno how they did this, but this is part of how they did it.
  color: $color-body-text;
  background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient( $color-orange, $color-orange );
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient( $color-orange, $color-orange );
  background-position-x: 0px, 100%, 0px;
  background-position-y: 95%, 95%, 95%;
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-repeat-x: no-repeat, no-repeat, repeat;
  background-repeat-y: no-repeat, no-repeat, no-repeat;
  background-attachment: initial, initial, initial;
  background-origin: initial, initial, initial;
  background-clip: initial, initial, initial;
  background-color: initial;
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;

  text-shadow: .03em 0 $color-page-bg,-.03em 0 $color-page-bg,0 .03em $color-page-bg,0 -.03em $color-page-bg,.06em 0 $color-page-bg,-.06em 0 $color-page-bg,.09em 0 $color-page-bg,-.09em 0 $color-page-bg,.12em 0 $color-page-bg,-.12em 0 $color-page-bg,.15em 0 $color-page-bg,-.15em 0 $color-page-bg;
  background-position: 0 95%,100% 95%,0 95%;

  transition: color 0.125s;

}

p a:hover {
  color: $color-orange;
  background: 0 0;
  transition: color 0.125s;
}

// Fix for when the text is highlighted
p a::selection {
  color: lighten( $color-body-text, 0% );
  text-shadow: none;
}
p a::-moz-selection {
  color: #000;
  text-shadow: none;
}
