header.site-header {
  div.outside {
    @include outer-container;
  }

  a.site-title {
    position: relative;
    display: block;
    float: left;
    clear: none;

    top: auto;
    left: auto;

    width: pem(120);
    height: pem(120);

    margin-top: -0.4em;
    margin-left: $main_gutter;
  }

  span.toggle-menu {
    display: none;
  }
}
