header.site_header span.toggle_menu {
  @include hidden;
}

nav.site-nav {
  display: block;
  float: right;
  clear: none;
  // margin: 0 0 0 pem(10);
  margin: 0;
  padding: 0;
}

nav.site-nav > ul {
  position: relative;
  left: auto;
  top: auto;
  width: auto;

  display: block;
  float: left;
  clear: none;
  padding-right: 0.75em;

  li,
  li a {
    clear: none;
    width: auto;
    color: darken($color-green, 15%);
  }
  li a {
    font-size: 1em;
    padding: ($main_gutter * 1) 0.25em;
    // background: rgba(255,255,255, 0.2);
    @include transition(color 0.25s ease-in-out);
    .no-touchevents &:hover {
      // background: transparent;
      color: $color_orange;
      @include transition(color 0.25s ease-in-out);
    }
  }
}
