// div.layout encapsulates the mobile menu.
// Its placed outside of div.layout
// overflow:hidden is keeping it invisible.
div.layout {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden !important;
}

// mobile menu OFF:
nav.site-nav > ul {
  width: $main_nav_width;
  position: absolute;
  z-index: 6;
  left: 100%;
  top: pem(15);
  padding: 0;

  li,
  li a {
    display: block;
    float: left;
    clear: left;
    width: 100%;
    font-size: 1.3em;
    font-family: 'sans_light';
    color: $color-green;
  }
  li a {
    line-height: 1em;
    padding:  ($main_gutter * 0.333) ($main_gutter * 0.33333) ($main_gutter * 0.25);
  }
}


// mobile menu ON:
html.main_nav_on nav.site-nav {
  & > ul {
    left: $main_nav_margin;
  }
}

// ++++++++++++++++++++
// +++ other parts: +++
// ++++++++++++++++++++
span.mobile_shader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  @include transition(background-color 0.4s ease-in-out);

  html.main_nav_on & {
    background-color: rgba(0, 0, 0, 0.85);
    @include transition(background-color 0.4s ease-in-out);
  }
}
