
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;



$color-orange: rgb(254, 71, 57);
$color-red: rgb(203, 18, 76);
$color-pink: rgb(255, 53, 180);
$color-tan: rgb(234, 234, 206);
$color-purple: rgb(98, 49, 130);
// $color-blue: rgb(121, 254, 251);
$color-blue: rgb(147, 213, 223);
$color-green: rgb(35, 255, 207);


$color-page-bg:     lighten( $color_tan, 10% );
// $color-page-footer: lighten( $color-green, 0% );
// $color-page-footer: lighten( $color_tan, 7% );
