
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;



$color_orange: rgb(254, 71, 57);
$color_red: rgb(203, 18, 76);
$color_pink: rgb(255, 53, 180);
$color_tan: rgb(234, 234, 206);
$color_purple: rgb(98, 49, 130);
$color_blue: rgb(121, 254, 251);
