---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="contact_form">
    <form action="//formspree.io/alexkademan@gmail.com" method="POST">

        <label for="mailName">Name</label>
        <input type="text" name="name" id="mailName">
        <br />

        <label for="emailAddress">Email</label>
        <input type="text" name="_replyto" id="emailAddress">
        <br />

        <label for="emailMessage">Message</label>
        <textarea id="emailMessage" rows="7" name="message"></textarea>
        <br />

        <input type="text" name="_gotcha" style="display:none" />

        <input type="hidden" name="_next" value="{{ site.url }}/contact-thank-you/" />

        <input type="submit" value="Send">
    </form>
  </div>

</article>
